@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sky: var(--sky);
}

:root {
  --background: oklch(0.9578 0.0058 264.53); /* #eff1f5 (base) */
  --foreground: oklch(0.4355 0.043 279.33); /* #4c4f69 (text) */

  --card: oklch(0.9335 0.0087 264.52); /* #e6e9ef (surface0) */
  --card-foreground: oklch(0.4355 0.043 279.33); /* #4c4f69 (text) */

  --popover: oklch(0.9335 0.0087 264.52); /* #e6e9ef (surface0) */
  --popover-foreground: oklch(0.4355 0.043 279.33); /* #4c4f69 (text) */

  --primary: oklch(0.5586 0.2255 262.09); /* #1e66f5 (blue) */
  --primary-foreground: oklch(0.906 0.0117 264.51); /* #dce0e8 (crust) */

  --secondary: oklch(0.8575 0.0145 268.48); /* #ccd0da (surface1) */
  --secondary-foreground: oklch(0.4355 0.043 279.33); /* #4c4f69 */

  --muted: oklch(0.8575 0.0145 268.48); /* #ccd0da */
  --muted-foreground: oklch(0.5471 0.0343 279.08); /* #6c6f85 (subtext1) */

  --accent: oklch(0.8575 0.0145 268.48); /* #ccd0da */
  --accent-foreground: oklch(0.4355 0.043 279.33); /* #4c4f69 */

  --destructive: oklch(0.5505 0.2155 19.81); /* #d20f39 (red) */

  --border: oklch(0.8083 0.0174 271.2); /* #bcc0cc (surface1) */
  --input: oklch(0.8083 0.0174 271.2); /* #bcc0cc (surface1) */
  --ring: oklch(0.4355 0.043 279.33); /* #4c4f69 (text) */

  /* Charts */
  --chart-1: oklch(0.5505 0.2155 19.81); /* red (#d20f39) */
  --chart-2: oklch(0.6023 0.0981 201.1); /* teal (#179299) */
  --chart-3: oklch(0.5586 0.2255 262.09); /* blue (#1e66f5) */
  --chart-4: oklch(0.5547 0.2503 297.02); /* mauve (#8839ef) */
  --chart-5: oklch(0.714 0.1494 67.78); /* yellow (#df8e1d) */

  /* Sidebar */
  --sidebar: oklch(0.9335 0.0087 264.52); /* #e6e9ef (mantle) */
  --sidebar-foreground: oklch(0.4355 0.043 279.33); /* #4c4f69 (text) */
  --sidebar-primary: oklch(0.5586 0.2255 262.09); /* #1e66f5 (blue) */
  --sidebar-primary-foreground: oklch(0.906 0.0117 264.51); /* #dce0e8 (crust) */
  --sidebar-accent: oklch(0.8575 0.0145 268.48); /* #ccd0da (surface0) */
  --sidebar-accent-foreground: oklch(0.4355 0.043 279.33); /* #4c4f69 (text) */
  --sidebar-border: oklch(0.8083 0.0174 271.2); /* #9ca0b0 (surface1) */
  --sidebar-ring: oklch(0.8083 0.0174 271.2); /* #9ca0b0 (surface1) */

  /* Shape */
  --radius: 0.5rem; /* rounded-md */

  /* extra color */
  --sky: oklch(0.682 0.1448 235.38); /* #04a5e5 (sky) */
}

.dark {
  --background: oklch(0.2429 0.0304 283.91); /* #1e1e2e (base) */
  --foreground: oklch(0.8787 0.0426 272.28); /* #cdd6f4 (text) */

  --card: oklch(0.324 0.0319 281.98); /* #313244 (surface0) */
  --card-foreground: oklch(0.8787 0.0426 272.28); /* #cdd6f4 (text) */

  --popover: oklch(0.324 0.0319 281.98); /* #313244 (surface0) */
  --popover-foreground: oklch(0.8787 0.0426 272.28); /* #cdd6f4 (text) */

  --primary: oklch(0.7664 0.1113 259.88); /* #89b4fa (blue) */
  --primary-foreground: oklch(0.1828 0.0204 284.2); /* #11111b (crust) */

  --secondary: oklch(0.4037 0.032 280.15); /* #45475a (surface1) */
  --secondary-foreground: oklch(0.8787 0.0426 272.28); /* #cdd6f4 */

  --muted: oklch(0.4037 0.032 280.15); /* #45475a */
  --muted-foreground: oklch(0.751 0.0396 273.93); /* #a6adc8 (subtext1) */

  --accent: oklch(0.4037 0.032 280.15); /* #45475a */
  --accent-foreground: oklch(0.8787 0.0426 272.28); /* #cdd6f4 */

  --destructive: oklch(0.7556 0.1297 2.76); /* #f38ba8 (red) */

  --border: oklch(0.4037 0.032 280.15); /* #45475a (surface1) */
  --input: oklch(0.4037 0.032 280.15); /* #45475a (surface1) */
  --ring: oklch(0.5497 0.0345 277.1); /* #6c7086 (overlay0) */

  /* Charts */
  --chart-1: oklch(0.7556 0.1297 2.76); /* red (#f38ba8) */
  --chart-2: oklch(0.8585 0.0792 182.75); /* teal (#94e2d5) */
  --chart-3: oklch(0.7664 0.1113 259.88); /* blue (#89b4fa) */
  --chart-4: oklch(0.7871 0.1187 304.77); /* mauve (#cba6f7) */
  --chart-5: oklch(0.9193 0.0704 86.53); /* yellow (#f9e2af) */

  /* Sidebar */
  --sidebar: oklch(0.324 0.0319 281.98); /* #313244 (surface0) */
  --sidebar-foreground: oklch(0.8787 0.0426 272.28); /* #cdd6f4 (text) */
  --sidebar-primary: oklch(0.7664 0.1113 259.88); /* #89b4fa (blue) */
  --sidebar-primary-foreground: oklch(0.1828 0.0204 284.2); /* #11111b (crust) */
  --sidebar-accent: oklch(0.4037 0.032 280.15); /* #45475a (surface1) */
  --sidebar-accent-foreground: oklch(0.8787 0.0426 272.28); /* #cdd6f4 (text) */
  --sidebar-border: oklch(0.8083 0.0174 271.2); /* #bcc0cc (surface) */
  --sidebar-ring: oklch(0.5497 0.0345 277.1); /* #6c7086 (overlay0) */

  /* Shape */
  --radius: 0.5rem; /* rounded-md */

  /* extra color */
  --sky: oklch(0.8467 0.0833 210.25); /* #89dceb (sky) */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground select-none;
  }
  .gradient-button {
    @apply !from-primary !to-chart-4 !bg-gradient-to-r hover:!bg-gradient-to-l;
  }
}
